<div>
  <header class="w-full flex p-2 justify-around bg-slate-400">
    <span 
      class="p-2 rounded-md text-black"
      [ngClass]="{
        'bg-yellow-400': yellowsTurn,
        'bg-blue-500': !yellowsTurn
      }"
    >
      {{ yellowsTurn ? "Yellow" : 'Blue' }}'s Turn
    </span>
    <button 
      class="p-2 rounded-md text-white bg-red-600" 
      (click)="onNaturalDisaster()"
    >
      Natural Disaster
    </button>
    <button
      class="p-2 rounded-md text-black bg-green-400"
      (click)="onAllGenClick()"
    >
      {{ running ? 'Stop' : 'Play' }} Generations
    </button>
    <button 
      class="p-2 rounded-md text-white bg-blue-500" 
      (click)="onNextGenClick()"
      >
      Next Generation
    </button>
    <span class="flex bg-yellow-400">
      <p class="px-2 pt-3 pd-1 ml-1">Generate</p>
      <button 
        class="p-2 m-1 rounded-md text-black bg-orange-400" 
        (click)="onRandomCivClick()"
      >
        Random Civ
      </button>
      <button 
        class="p-2 m-1 rounded-md text-black bg-orange-400" 
        (click)="onMakeBoatsClick()"
      >
        Boats
      </button>
      <button 
        class="p-2 m-1 rounded-md text-black bg-orange-400" 
        (click)="onMakeGlidersClick()"
      >
        Gliders
      </button>
      <button 
        class="p-2 m-1 rounded-md text-black bg-orange-400" 
        (click)="onMakePowerColonyCiv()"
      >
        Power Colony
      </button>
      
    </span>
      
  </header>
  <div class="flex justify-center bg-slate-700">
    <section class="border-2 rounded border-white">
      <div 
        *ngFor="let row of civ; let r = index"
        class="flex"
      >
        <app-cell 
          *ngFor="let cellState of row; let c = index"
          [cellState] = 'cellState'
          [resolution]= "resolution"
          [coordinates]="[r, c]"
          (cellClicked)="onChildCellClick($event)"
        >
        </app-cell>
    
      </div>
    </section>
  </div>
</div>